@use "../variables";

// Add Question Modal
.add-question-modal {
  .modal-dialog {
    max-width: 711px;

    .add-question-block {
      border: 1px solid variables.$primary-border;
      border-radius: 4px;
    }
  }
}
.question-form-title {
  border: none;
  padding-block: 12px;
  border-bottom: 1px solid variables.$primary-border;
  width: 100%;

  &::placeholder {
    color: #202223;
  }
}

.form-basic-details {
  border-radius: 8px;
  .question-form-description {
    border: none;
    border-bottom: 1px solid variables.$primary-border;
    width: 100%;
  }
}
.copy-form-settings {
  border-bottom: 1px solid variables.$primary;
}
