.align-vertical {
  .nav-tabs {
    flex-direction: column;
    border-right: 1px solid #ebeef0;
    border-bottom: none;
    .nav-item {
      min-width: max-content;
      .nav-link {
        min-width: 100%;
        text-align: left;
      }
    }
  }
  .tab-content {
    flex: 1;
  }
}
.primary-tabs {
  &.nav-tabs {
    .nav-item {
      .nav-link {
        padding: 10px;
        border-radius: 0;
        color: #202223;
        &.active {
          border-color: #dedfec;
          background-color: #dedfec;
        }
        &:hover {
          background-color: #dedfec;
        }
      }
    }
  }
}
